html, body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

@media screen and (max-width: 480px) {
    html, body {
        min-width: 320px;
    }
}

/* ---- fonts ---- */

@font-face {
    font-family: 'Shrikhand';
    src: url('../webfonts/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('../webfonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('../webfonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('../webfonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* ---- variables ---- */

$mobile: 440px;
$tablet: 770px;

$primary: #9357dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$dark-grey: #eaeaea;
$light-grey: #f7f7f7;
$font-grey: #848484;
$black: #343434;
$white: #ffffff;

/* ---- mixins ---- */

@mixin tablet-only {
    @media screen and (min-width: $mobile) {
        @content
    }
};
@mixin desktop-only {
    @media screen and (min-width: $tablet) {
        @content
    }
};
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
}
@mixin grid-Xcol ($col: 1) {
    display: grid;
    grid-template-columns: repeat($col, $col+fr);
    gap: 32px;
}
@mixin shadow-light {
    box-shadow: 4px 4px 16px #34343444;
}
@mixin shadow-dark {
    box-shadow: 4px 4px 16px #34343477;
}
@mixin global-padding {
    @include desktop-only {
        padding: 32px;
    }
    padding: 32px 16px;
}

/* ---- animations ---- */

@keyframes loader {
    0%      { opacity: 1;
    }
    100%    { opacity: 0; visibility: hidden;
    }
}
@keyframes wave {
    0%      { font-size: 2.8em; opacity: 0;
    }
    25%     { font-size: 3.8em; opacity: 0.8;
    }
    50%     { font-size: 2.8em; opacity: 0;
    }
    75%     { font-size: 3.8em; opacity: 0.8;
    }
    100%    { font-size: 2.8em; opacity: 0;
    }
}
@keyframes reveal {
    0%      { opacity: 0;
    }
    100%    { opacity: 1;
    }
}
@keyframes transY {
    0%      { transform: translateX(12px);
    }
    100%    { transform: translateX(0);
    }
}
@keyframes line {
    0%      { width: 0;
    }
    100%    { width: 36px;
    }
}
@keyframes shake {
    0%      { transform: translateX(0);
    }
    25%     { transform: translateX(-3px);
    }
    50%     { transform: translateX(0);
    }
    75%     { transform: translateX(-6px);
    }
    100%    { transform: translateX(0);
    }
}
@keyframes noScroll {
    0%      { height: 100vh; overflow: hidden; visibility: hidden;
    }
    100%    { height: unset; overflow: unset; visibility: visible;
    }
}

/* ---- global ---- */

body, input, select, textarea, button {
    @include desktop-only {
        font-size: 12pt;
    }
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 11pt;
}
body {
    background: linear-gradient(to top, $primary 10%, $secondary 100%);
    background-color: $primary;
    background-attachment: fixed;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
form {
    display: inline;
}
a {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000000;
}
h2, h3, h4, h5 {
    font-weight: 700;
}
h6 {
    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
    color: $white;
    letter-spacing: -0.1em;
    animation: loader 300ms ease-in-out 2700ms both;
        & span {
            display: inline-block;
            animation: wave 2800ms ease-in-out infinite both;
        }
        @for $i from 1 through 8 {
            & :nth-child(#{$i}) {
                animation-delay: $i * 120ms;
            }
        }
}
.loader {
    @include flex-center;
    background: linear-gradient(to top, $primary 10%, $secondary 100%);
    background-color: $primary;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    animation: loader 3000ms steps(1, end) both;
}
.page {
    @include grid-Xcol;
    @include desktop-only {
        max-width: 1030px;
    }
    gap: 0;
    margin: auto;
    background: $white;
        &--home {
            animation: reveal 360ms ease-in-out 3000ms both, noScroll steps(1, end) 3000ms;
        }
        &--menu {
            background: $light-grey;
        }
}
.btn {
    @include shadow-dark;
    cursor: pointer;
    background: linear-gradient(to top, $primary 10%, $secondary 50%, $primary 100%);
    background-size: auto 200%;
    border: none;
    align-self: center;
    color: $white;
    padding: 16px 28px;
    border-radius: 24px;
    transition: background-position 240ms ease-in-out, box-shadow 240ms ease-in-out;
        &:hover {
            background-position: bottom center;
            box-shadow: 4px 0px 16px #343434cc;
        }
}

/* ---- header ---- */

.header {
    @include desktop-only {
        height: 72px;
    }
    @include flex-center;
    background: $white;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 64px;
    max-width: 1030px;
    margin: auto;
    border-bottom: solid 1.5px #34343422;
        &--home {
            position: sticky;
            top: 0;
        }
        &__brand {
            font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
        }
        &__icon {
            @include flex-center;
            position: absolute;
            left: 24px;
            font-size: 1.4em;
            width: 32px;
            height: 32px;
                &:hover > i {
                    animation: shake 480ms ease-in-out both;
                }
        }
}

/* ---- search ---- */

.search {
    @include desktop-only {
        height: 64px;
    }
    @include flex-center;
    background: $dark-grey;
    width: 100%;
    height: 56px;
        &__input {
            @include desktop-only {
                width: 240px;
            }
            background: none;
            border: none;
            text-align: center;
            width: 160px;
            height: 100%;
        }
        &__icon {
            font-size: 1.2em;
            color: $black;
        }
        ::placeholder {
            opacity: 1;
            color: $black;
        }
}

/* ---- about ---- */

.about {
    @include global-padding;
    @include flex-col;
    background: $light-grey;
    align-items: center;
    text-align: center;
        &__heading {
            @include tablet-only {
                max-width: unset;
            }
            max-width: 240px;
        }
        &__text {
            @include tablet-only {
                max-width: unset;
            }
            max-width: 300px;
            margin: 16px 0 32px 0;
            color: $font-grey;
            font-size: 1.1em;
            line-height: 1.24em;
        }
}

/* ---- working ---- */

.work {
    @include global-padding;
    @include grid-Xcol;
    background: $white;
    justify-items: center;
        &-container {
            @include tablet-only {
                width: 400px;
                margin: auto;
            }
            @include desktop-only {
                grid-template-columns: repeat(3, 3fr);
                width: 100%;
            }
            @include grid-Xcol(1);
            width: 100%;
        }
        &-step {
            @include tablet-only {
                max-width: 100%;
            }
            @include desktop-only {
                min-width: 200px;
            }
            @include shadow-light;
            cursor: default;
            background: $light-grey;
            display: grid;
            grid-template-columns: 1fr 1fr 7fr;
            justify-content: space-between;
            align-items: center;
            padding: 20px 12px;
            margin: 0 12px;
            border-radius: 20px;
            animation: reveal 320ms ease-in-out both;
            transition: background-color 120ms ease-in-out;
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: $i * 120ms + 3000ms;
                }
            }
                &:hover {
                    background: transparentize($primary, 0.84);
                        > .work-step__icon {
                            color: $primary;
                        }
                }
            &__number {
                display: block;
                @include flex-center;
                background: linear-gradient($secondary 4%, $primary 100%);
                color: $white;
                position: relative;
                left: -24px;
                width: 24px;
                height: 24px;
                border-radius: 100%;
            }
            &__icon {
                color: transparentize($black, 0.4);
                position: relative;
                left: -12px;
                font-size: 1.4em;
                justify-self: center;
                transition: color 120ms ease-in-out;
            }
            &__text {
                position: relative;
                font-weight: 400;
            }
        }
}

/* ---- restaurants ---- */

.rest {
    @include tablet-only {
        justify-items: center;
    }
    @include global-padding;
    @include grid-Xcol;
    background: $light-grey;
        &-container {
            @include desktop-only {
                @include grid-Xcol(2)
            }
            @include grid-Xcol;
        }
}

.card {
    @include tablet-only {
        max-width: 440px;
    }
    @include grid-Xcol(7);
    @include shadow-light;
    gap: 0;
    background: $white;
    grid-template-rows: repeat(14, 14fr);
    height: 230px;
    border-radius: 20px;
        &__img {
            grid-column: 1 / span 7;
            grid-row: 1 / span 10;
            border-radius: 20px 20px 0 0;
        }
        &-info {
            @include flex-col;
            justify-content: space-around;
            grid-column: 1 / span 7;
            grid-row: 11 / span 4;
            padding: 10px 16px;
            transition: background-color 120ms ease-in-out;
                &__heading {
                    font-weight: 500;
                }
                &__text {
                    color: $font-grey;
                    font-size: 1.1em;
                }
        }
}

.like {
    @include flex-center;
    cursor: pointer;
    grid-column: 7 / span 1;
    grid-row: 11 / span 4;
    padding-left: 1em;
        &__icon {
            transition: opacity 120ms ease-in-out;
            font-size: 1.4em;
        }
        &__icon--on {
            background: linear-gradient(to top, $primary 10%, $secondary 100%);
            background-color: $primary;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            left: -1em;
            opacity: 0;
        }
        &:hover > &__icon--off {
            opacity: 0;
        }
        &:hover > &__icon--on {
            opacity: 1;
        }
}

/* ---- menu ---- */

.banner {
    @include desktop-only {
        top: 70px;
        height: 360px;
    }
    position: sticky;
    top: 64px;
    z-index: 1;
    margin: auto;
    max-width: 1030px;
    height: 260px;
}

.main {
    @include tablet-only {
        align-items: center;
        padding: 32px 32px 72px 32px;
    }
    @include flex-col;
    background: $light-grey;
    position: relative;
    z-index: 2;
    padding: 32px 16px 72px 16px;
    /*
    border-radius: 34px 34px 0 0;
    */
        &-restaurant {
            @include tablet-only {
                justify-content: space-between;
                width: 100%;
                max-width: 440px;
            }
            @include flex-center;
            justify-content: space-around;
                &__heading {
                    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
                }
                & .like__icon--off {
                    position: relative;
                    left: 1em;
                }
                & .like__icon--on {
                    left: unset;
                }
        }
            &__btn {
                padding: 16px 42px;
                margin-top: 40px;
            }
}

.menu {
    @include tablet-only {
        width: 100%;
        max-width: 440px
    }
    @include grid-Xcol(1);
    gap: 16px;
    margin-top: 32px;
        &__heading {
            text-transform: uppercase;
            font-size: 0.9em;
            font-weight: 500;
            opacity: 0.34;
        }
        &__line {
            background: $tertiary;
            height: 0.16em;
            margin-top: -12px;
            animation: 1200ms ease-in-out both line;
        }
}

.meal {
    @include shadow-light;
    cursor: pointer;
    background: $white;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    animation: reveal 480ms ease-in-out both, transY 480ms ease-in-out both;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: $i * 100ms;
        }
    }
        &:hover &-slide {
            margin-right: 0;
        }
        &:hover &-slide__icon {
            transform: rotate(360deg);
        }
        &-info {
            @include flex-col;
            justify-content: center;
            flex-grow: 1;
            padding: 12px 4px 12px 16px;
            overflow: hidden;
                &__heading {
                    font-size: 1.1em;
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &__text {
                    margin-top: 4px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: $font-grey;
                }
        }
    &-slide {
        background: $white;
        display: flex;
        position: relative;
        top: 0px;
        right: 0px;
        height: 100%;
        margin-right: -60px;
        transition: margin-right 230ms ease-in-out;
            &__price {
                font-size: 1.1em;
                align-self: flex-end;
                padding: 12px 12px 12px 4px;
            }
            &__check {
                @include flex-center;
                background: $tertiary;
                width: 60px;
                height: 100%;
                border-radius: 0 20px 20px 0;
            }
            &__icon {
                color: $white;
                font-size: 1.5em;
                transition: transform 360ms ease-in-out;
            }
    }
}

/* ---- footer ---- */

.footer {
    @include global-padding;
    @include grid-Xcol(1);
    background: $black;
    position: relative;
    z-index: 2;
    gap: 10px;
        &__brand {
            font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
            color: $white;
            font-size: 1.6em;
        }
        &-choice {
            display: grid;
            grid-template-columns: 32px auto;
        }
        &__link, &__icon {
            color: $white;
        }
}